<b>Față de săptămâna trecută</b>
Lead-uri {{ change.leads }} {{ leads_change | change }} · Vizite {{ change.showroom_visits }} {{ showroom_visits_change | change }} · Oferte {{ change.offers | dash }} · Contracte {{ change.contracts }} {{ contracts_change | change }}
