<b>К прошлой неделе</b>
Лиды {{ change.leads }} {{ leads_change | change }} · Визиты {{ change.showroom_visits }} {{ showroom_visits_change | change }} · Оферты {{ change.offers | dash }} · Контракты {{ change.contracts }} {{ contracts_change | change }}
